$font-stack:    'Open Sans', sans-serif;
$primary-color: #333;
$nav-primary-color: #28383e;
$nav-primary-color-active: #202b30;
$navbar-border-active: #58d2ce;
$title-background: #eeac55;
$blog-title: #56c7b4;

body {
  font: 100% $font-stack;
  color: $primary-color;
}
.bg-primary{
	background-color: $nav-primary-color !important; /* important to override bootstrap default background-color*/
}
@media (min-width: 992px) {
	.navbar{
		padding-bottom: 0;
		padding-top: 0;
		.navbar-nav .active>.nav-link{
			background: $nav-primary-color-active;
			color: white !important;
			font-weight: 900;
			border-bottom: 2px solid $navbar-border-active;
		}
	}
	#main-navbar{
		li.nav-item {
			a{
				text-transform: uppercase;
				padding-bottom: 1.5em;
				padding-top: 1.5em;
			}
		}
	}
	#hero-header{
		.hero-title {
			span{
				padding-left: 10px;
				background: $title-background;
				color: white;
			}
		}
	}
}
.quote-image{
	float: right;
	padding: 1em;
}
.read-more{
	padding-top: 6em;
	.horizontal-line{
		text-align: center;
		background: linear-gradient(#ffffff 0%, #ffffff 48%, #cccccc 49%, #cccccc 55%, #ffffff 56%, #ffffff 100%);
		span{
			background: white;
			padding: 10px;
		}
	}
	.blog-title{
		font-weight: 900;
		color: $blog-title;
	}
}